name: docker-ci-pipeline
on: push
jobs:
  docker-ci-job:
    runs-on: ubuntu-latest
    steps:   
      - name: code checkout
        uses: actions/checkout@v6
        
      - name: Build Image
        run: docker build -t ${{vars.DOCKER_USERNAME}}/helloworld-demo-python:v1 .
        
      - name: Verify Image
        run: docker images
        
      - name: Create Container
        run: docker run --name python-app -itd -p 8080:8080 ${{vars.DOCKER_USERNAME}}/helloworld-demo-python:v1
        
      - name: View Container
        run: docker ps
        
      - name: Check the Output
        run: 
         sleep 5
         curl http://localhost:8080
        
      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
        
      - name: Push image
        run: docker push ${{vars.DOCKER_USERNAME}}/helloworld-demo-python:v1

      - name: Clean the container
        run: docker rm python-app
        
