name: docker-ci-pipeline
on: push
jobs: 
	docker-ci-job:
	     runs-on: ubuntu-latest
    steps:
      - name: code checkout
        uses: actions/checkout@v6
        
      - name: Build image
        run: docker build -t ${{vars.DOCKER_USERNAME}}/helloworld-demo-python:v1 .
        
	    - name: Docker image
		    run: docker images
        
	    - name: Docker login
        uses: docker/login-action@v3.6.0
		    with:
		      username: ${{ vars.DOCKER_USERNAME }}
		      password: ${{ secrets.DOCKER_TOKEN }}

      - name: Push Image
        run: docker push ${{vars.DOCKER_USERNAME}}/helloworld-demo-python:v1
