name: docker-ci-pipeline
on: 
 push:
  branches: 
    - main

jobs:
  docker-ci-job:
    runs-on: ubuntu-latest
    steps:   
      - name: code checkout
        uses: actions/checkout@v6
        
      - name: Build Image
        run: docker build -t ${{vars.DOCKER_USERNAME}}/helloworld-demo-python:v1 .
        
      - name: Verify Image
        run: docker images
        
      - name: Create Container
        run: docker run --name python-app -itd -p 8080:8080 ${{vars.DOCKER_USERNAME}}/helloworld-demo-python:v1

      - name: sleep
        run: sleep 20
        
      - name: View Container
        run: docker ps
        
      - name: Check the Output
        run: curl -f http://localhost:8080
        
      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
        
      - name: Push image
        run: docker push ${{vars.DOCKER_USERNAME}}/helloworld-demo-python:v1

      - name: Clean the container
        run: docker rm -f python-app

  k8s-cd-job:
     needs: [docker-ci-job]
     runs-on: ubuntu-latest
     steps:   
      - name: code checkout
        uses: actions/checkout@v6

      - name: start minikube
        uses: medyagh/setup-minikube@latest

      - name: Test minikube
        run: kubectl get pods -A

      - name: apply-yaml
        run: |
         kubectl apply -f k8s/ns.yaml
         kubectl apply -f k8s/.
         kubectl config set-context --current --namespace=python-app
         kubectl wait --for=condition=ready pod -l app=janani,environment=production
         
      - name: get-status-deploy
        run: |
          kubectl get ns
          kubectl get deploy,service -n python-app

      - name: Test service URLs
        run: |
          minikube service list
          minikube service my-service-1 -n python-app --url
          echo -n "------------------opening the service------------------"
          curl -f $(minikube service my-service-1 -n python-app --url)
